{"openapi":"3.1.0","info":{"title":"ARGUS20 Collector API","version":"3.0.0","description":"Normative contract accompanying ARGUS20_TZ_SELAIN 3.0 (03.10.2026). Wire schema 1.1. Base path /api/collector (no /v1; version is carried in schema_version). M1: one Windows worker, job pinned to its worker, no automatic reassignment. IDs are opaque strings; new IDs are UUIDs. BrowserAction/ActionResult are internal worker contracts, not endpoints. Error object {code, detail, retryable, request_id} is a superset of the ARGUS base error format {code, detail}. Runtime enforces ownership, sequence, evidence, host approval (K7), participation (R8), budgets, field audit and state transitions beyond structural validation. Channel status (K3) is derived server-side from entity_type + binding + extraction_status; workers never set it.",
"x-error-codes":["unauthorized","worker_revoked","schema_unsupported","lease_expired","lease_mismatch","job_cancelled","sequence_gap","evidence_missing","evidence_hash_mismatch","idempotency_conflict","host_not_approved","field_audit_missing","participation_not_confirmed","budget_exceeded","continuation_limit_reached","payload_too_large","rate_limited","storage_unavailable","invalid_input"]},"servers":[{"url":"https://argus.gridex.fi/api/collector","description":"Production ARGUS (block 6). Until then the reference contract_server in gridex-argus-collector serves the same contract on loopback."}],
"paths":{"/batches":{"post":{"operationId":"createBatch","description":"Idempotency by client_request_id within caller scope; different payload for accepted key => 409 idempotency_conflict. R8: every company needs participation_status confirmed/strong_historical with participation_claim_id, or owner_override with override_reason (SystemBearer only) => otherwise 422 participation_not_confirmed. One job per company per project unless rerun_reason is given.","security":[{"SystemBearer":[]}],"responses":{"201":{"description":"Successful durable response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchCreateResponse"}}}},
"default":{"description":"Error; retry only when retryable=true. 429 respects Retry-After.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"headers":{"Retry-After":{"schema":{"type":"string"}}}},"200":{"description":"Idempotent replay","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchCreateResponse"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchCreateRequest"}}}}}},"/workers/heartbeat":{"post":{"operationId":"heartbeat","description":"Renew current leases, return queued commands, acknowledge command IDs. No renewal of stale generation.",
"security":[{"WorkerBearer":[]}],"responses":{"200":{"description":"Successful durable response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HeartbeatResponse"}}}},"default":{"description":"Error; retry only when retryable=true. 429 respects Retry-After.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"headers":{"Retry-After":{"schema":{"type":"string"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HeartbeatRequest"}}}}}},"/jobs/claim":{"post":{"operationId":"claimJobs","description":"Atomic claim of up to 8 jobs. Each claimed job carries run_id, lease generation, execution token, checkpoint (for continuation runs), known routes for its approved hosts and previously accepted contacts for freshness checks. Empty jobs array is valid.",
"security":[{"WorkerBearer":[]}],"responses":{"200":{"description":"Successful durable response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClaimResponse"}}}},"default":{"description":"Error; retry only when retryable=true. 429 respects Retry-After.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"headers":{"Retry-After":{"schema":{"type":"string"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClaimRequest"}}}}}},"/jobs/{job_id}/evidence":{"post":{"operationId":"uploadEvidence",
"description":"Match job/run/company ownership; verify hash and uncompressed size. 25 MiB HTML/DOM/JSON, 50 MiB documents/checkpoints, 10 MiB screenshots by default. Inert stored content. Idempotency by evidence_id and content hash.","security":[{"WorkerBearer":[]}],"responses":{"201":{"description":"Successful durable response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EvidenceResponse"}}}},"default":{"description":"Error; retry only when retryable=true. 429 respects Retry-After.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"headers":{"Retry-After":{"schema":{"type":"string"}}}},
"200":{"description":"Idempotent replay","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EvidenceResponse"}}}}},"parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","minLength":1,"maxLength":200}},{"name":"X-Execution-Token","in":"header","required":true,"schema":{"type":"string"},"description":"Current lease token or drain-only delivery token returned by reconcile."}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/EvidenceUpload"},"encoding":{"metadata":{"contentType":"application/json"}}}}}}},
"/jobs/{job_id}/events":{"post":{"operationId":"postEvents","description":"One job/run per request; ascending contiguous seq; suffix after a gap => sequence_gap. Atomic receipt and application; repeated accepted event ID/hash => duplicate. Observations require already uploaded evidence (evidence_missing) and a field_audit (field_audit_missing). Channel observations from hosts outside approved_hosts => host_not_approved. Server derives channel_status (K3) and writes model.called into model_call. job.finished requires last_content_seq = seq-1; with resumable gaps and remaining campaign budget the server schedules the next run (next_run_scheduled=true) instead of terminating the job.",
"security":[{"WorkerBearer":[]}],"responses":{"200":{"description":"Successful durable response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventsResponse"}}}},"default":{"description":"Error; retry only when retryable=true. 429 respects Retry-After.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"headers":{"Retry-After":{"schema":{"type":"string"}}}}},"parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","minLength":1,"maxLength":200}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventsRequest"}}}}}},
"/jobs/{job_id}/reconcile":{"post":{"operationId":"reconcileJob","description":"Only same owner worker/run. M1 expired lease remains pinned to worker. Renew generation preserving run/seq. Cancelled job returns drain_only token, not permission to browse. Never accepts unknown pending IDs as proof of ownership.","security":[{"WorkerBearer":[]}],"responses":{"200":{"description":"Successful durable response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReconcileResponse"}}}},"default":{"description":"Error; retry only when retryable=true. 429 respects Retry-After.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},
"headers":{"Retry-After":{"schema":{"type":"string"}}}}},"parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","minLength":1,"maxLength":200}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReconcileRequest"}}}}}},"/jobs/{job_id}/control":{"post":{"operationId":"controlJob","description":"Optimistic state revision; client_request_id replay is idempotent. continue resumes from checkpoint under a new run; policy_patch may raise campaign limits (owner action, not automatic).","security":[{"SystemBearer":[]}],"responses":{"200":{"description":"Successful durable response",
"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ControlResponse"}}}},"default":{"description":"Error; retry only when retryable=true. 429 respects Retry-After.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"headers":{"Retry-After":{"schema":{"type":"string"}}}}},"parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","minLength":1,"maxLength":200}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ControlRequest"}}}}}},"/jobs/{job_id}":{"get":{"operationId":"getJob",
"description":"","security":[{"SystemBearer":[]}],"responses":{"200":{"description":"Successful durable response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobStatus"}}}},"default":{"description":"Error; retry only when retryable=true. 429 respects Retry-After.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"headers":{"Retry-After":{"schema":{"type":"string"}}}}},"parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","minLength":1,"maxLength":200}}]}},"/batches/{batch_id}":{"get":{"operationId":"getBatch",
"description":"","security":[{"SystemBearer":[]}],"responses":{"200":{"description":"Successful durable response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchStatus"}}}},"default":{"description":"Error; retry only when retryable=true. 429 respects Retry-After.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"headers":{"Retry-After":{"schema":{"type":"string"}}}}},"parameters":[{"name":"batch_id","in":"path","required":true,"schema":{"type":"string","minLength":1,"maxLength":200}}]}},"/workers/{worker_id}/status":{"get":{"operationId":"getWorkerStatus",
"description":"Single source for the Selain status line in Soittolista.","security":[{"SystemBearer":[]}],"responses":{"200":{"description":"Successful durable response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkerStatus"}}}},"default":{"description":"Error; retry only when retryable=true. 429 respects Retry-After.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"headers":{"Retry-After":{"schema":{"type":"string"}}}}},"parameters":[{"name":"worker_id","in":"path","required":true,"schema":{"type":"string","minLength":1,"maxLength":200}}]}}},
"components":{"securitySchemes":{"WorkerBearer":{"type":"http","scheme":"bearer","description":"Worker-scoped token; cannot create/control arbitrary jobs."},"SystemBearer":{"type":"http","scheme":"bearer","description":"ARGUS internal or user authorization with collector-management permission; worker tokens not accepted."}},"schemas":{"Error":{"type":"object","properties":{"code":{"type":"string"},"detail":{"type":"string"},"retryable":{"type":"boolean"},"request_id":{"type":"string","minLength":1,"maxLength":200}},"required":["code","detail","retryable","request_id"],"additionalProperties":false},
"Scope":{"type":"object","properties":{"geography":{"type":"string","enum":["all_published","specified"]},"priority_countries":{"type":"array","items":{"type":"string"}},"priority_languages":{"type":"array","items":{"type":"string"}},"approved_hosts":{"type":"array","minItems":1,"items":{"$ref":"#/components/schemas/HostApproval"}},"include_contact_documents":{"type":"boolean"},"include_historical_observations":{"type":"boolean"},"restrictions":{"type":"array","items":{"type":"string"}}},"required":["geography","priority_countries","priority_languages","approved_hosts","include_contact_documents",
"include_historical_observations"],"additionalProperties":false},"Policy":{"type":"object","properties":{"max_active_seconds":{"type":"integer","minimum":1,"default":1800},"max_pages":{"type":"integer","minimum":1,"default":200},"max_browser_actions":{"type":"integer","minimum":1,"default":400},"cloud_budget_eur":{"type":"number","minimum":0},"human_assistance":{"type":"boolean"},"auto_continue":{"type":"boolean","default":true},"max_runs":{"type":"integer","minimum":1,"default":6},"max_campaign_active_seconds":{"type":"integer","minimum":1,"default":10800},"max_states":{"type":"integer","minimum":1,
"default":300},"campaign_max_pages":{"type":"integer","minimum":1,"default":600},"campaign_max_states":{"type":"integer","minimum":1,"default":900},"campaign_max_browser_actions":{"type":"integer","minimum":1,"default":1200},"campaign_cloud_budget_eur":{"type":"number","minimum":0,"default":0}},"required":["max_active_seconds","max_pages","max_browser_actions","cloud_budget_eur","human_assistance","max_states","campaign_max_pages","campaign_max_states","campaign_max_browser_actions","campaign_cloud_budget_eur"],"additionalProperties":false,"description":"Run limits (max_*) and campaign limits (campaign_*, max_runs, max_campaign_active_seconds) over all runs of one job. auto_continue schedules the next run while campaign budget remains."},
"PolicyPatch":{"type":"object","properties":{"max_active_seconds":{"type":"integer","minimum":1,"default":1800},"max_pages":{"type":"integer","minimum":1,"default":200},"max_browser_actions":{"type":"integer","minimum":1,"default":400},"cloud_budget_eur":{"type":"number","minimum":0},"human_assistance":{"type":"boolean"},"auto_continue":{"type":"boolean","default":true},"max_runs":{"type":"integer","minimum":1,"default":6},"max_campaign_active_seconds":{"type":"integer","minimum":1,"default":10800},"max_states":{"type":"integer","minimum":1,"default":300},"campaign_max_pages":{"type":"integer",
"minimum":1,"default":600},"campaign_max_states":{"type":"integer","minimum":1,"default":900},"campaign_max_browser_actions":{"type":"integer","minimum":1,"default":1200},"campaign_cloud_budget_eur":{"type":"number","minimum":0,"default":0}},"required":[],"additionalProperties":false},"CompanyInput":{"type":"object","properties":{"company_id":{"type":"string","minLength":1,"maxLength":200},"project_id":{"type":["string","null"]},"company_name":{"type":"string"},"seed_urls":{"type":"array","minItems":1,"items":{"type":"string","format":"uri"}},"scope":{"$ref":"#/components/schemas/Scope"},"policy":{"$ref":"#/components/schemas/Policy"},
"participation_status":{"$ref":"#/components/schemas/ParticipationStatus"},"participation_claim_id":{"type":["string","null"]},"override_reason":{"type":["string","null"]},"rerun_reason":{"type":["string","null"]}},"required":["company_id","project_id","company_name","seed_urls","scope","policy","participation_status","participation_claim_id","override_reason","rerun_reason"],"additionalProperties":false,"description":"R8: participation_status confirmed/strong_historical requires participation_claim_id; owner_override requires override_reason and SystemBearer; otherwise 422 participation_not_confirmed. rerun_reason is required when the company already has a job in this project."},
"BatchCreateRequest":{"type":"object","properties":{"client_request_id":{"type":"string","minLength":1,"maxLength":200},"companies":{"type":"array","minItems":1,"maxItems":8,"items":{"$ref":"#/components/schemas/CompanyInput"}}},"required":["client_request_id","companies"],"additionalProperties":false},"BatchCreateResponse":{"type":"object","properties":{"batch_id":{"type":"string","minLength":1,"maxLength":200},"jobs":{"type":"array","items":{"type":"object","properties":{"job_id":{"type":"string","minLength":1,"maxLength":200},"company_id":{"type":"string","minLength":1,"maxLength":200}},"required":["job_id",
"company_id"],"additionalProperties":false}}},"required":["batch_id","jobs"],"additionalProperties":false},"Capabilities":{"type":"object","properties":{"http":{"type":"boolean"},"browser":{"type":"boolean"},"vision":{"type":"boolean"},"model":{"type":"boolean"},"document_formats":{"type":"array","items":{"type":"string"}},"release_level":{"type":"string","enum":["M1","M2"]}},"required":["http","browser","vision","model","document_formats","release_level"],"additionalProperties":false},"JobState":{"type":"string","enum":["queued","leased","running","completed","partial","failed","cancelled","paused",
"needs_attention"]},"Stage":{"type":"string","enum":["http","browser","documents","finalizing"]},"TransportState":{"type":"string","enum":["online","offline","syncing","synced","delivery_error"]},"Coverage":{"type":"object","properties":{"frontier_status":{"type":"string","enum":["not_started","partial","exhausted"]},"confirmation":{"type":"string","enum":["unverified","verified_against_catalog_total","verified_against_manual_reference"]},"basis":{"type":"string","enum":["unknown","frontier_exhausted","catalog_total","enumerated_catalog","manual_reference"]},"scope_description":{"type":"string"},
"expected_count":{"type":["integer","null"],"minimum":0},"found_count":{"type":"integer","minimum":0},"gap_count":{"type":"integer","minimum":0},"evidence_ids":{"type":"array","items":{"type":"string","minLength":1,"maxLength":200}}},"required":["frontier_status","confirmation","basis","scope_description","expected_count","found_count","gap_count","evidence_ids"],"additionalProperties":false,"description":"Crawl completion (frontier_status, run_result_status) and coverage confirmation are independent. completed + unverified is a normal result; 100% coverage is only claimed with confirmation=verified_*."},
"Counts":{"type":"object","properties":{"persons":{"type":"integer","minimum":0},"organization_channels":{"type":"integer","minimum":0},"other_entities":{"type":"integer","minimum":0},"observations":{"type":"integer","minimum":0},"pages_processed":{"type":"integer","minimum":0},"browser_actions":{"type":"integer","minimum":0},"evidence_count":{"type":"integer","minimum":0},"gaps":{"type":"integer","minimum":0},"outbox_pending":{"type":"integer","minimum":0},"states_processed":{"type":"integer","minimum":0}},"required":["persons","organization_channels","other_entities","observations","pages_processed",
"browser_actions","evidence_count","gaps","outbox_pending","states_processed"],"additionalProperties":false},"Gap":{"type":"object","properties":{"gap_id":{"type":"string","minLength":1,"maxLength":200},"source_url":{"type":"string","format":"uri"},"state_key":{"type":"string"},"reason":{"type":"string","enum":["access_denied","captcha","login_required","consent_unresolved","geo_or_legal_restriction","timeout","network_error","unsupported_widget","model_unavailable","no_progress","budget_reached","domain_ownership_unresolved","source_too_large","browser_not_needed"]},"detail":{"type":"string"},
"attempts":{"type":"integer","minimum":0},"resumable":{"type":"boolean"}},"required":["gap_id","source_url","state_key","reason","detail","attempts","resumable"],"additionalProperties":false},"FrontierItem":{"type":"object","properties":{"source_id":{"type":"string","minLength":1,"maxLength":200},"url":{"type":"string","format":"uri"},"state_key":{"type":"string"},"parent_source_id":{"type":["string","null"]},"priority":{"type":"integer","minimum":0},"method":{"type":"string","enum":["http","browser","document"]},"state":{"type":"string"},"filters":{"type":"object","additionalProperties":{}},"cursor":{"type":["string",
"null"]},"attempts":{"type":"integer","minimum":0},"route_id":{"type":["string","null"]}},"required":["source_id","url","state_key","parent_source_id","priority","method","state","filters","cursor","attempts","route_id"],"additionalProperties":false},"Checkpoint":{"type":"object","properties":{"frontier_items":{"type":"array","items":{"$ref":"#/components/schemas/FrontierItem"}},"checkpoint_evidence_id":{"type":["string","null"]},"route_refs":{"type":"array","items":{"type":"string","minLength":1,"maxLength":200}},"active_seconds_consumed":{"type":"number","minimum":0},"pages_consumed":{"type":"integer",
"minimum":0},"actions_consumed":{"type":"integer","minimum":0}},"required":["frontier_items","checkpoint_evidence_id","route_refs","active_seconds_consumed","pages_consumed","actions_consumed"],"additionalProperties":false},"ClaimRequest":{"type":"object","properties":{"worker_id":{"type":"string","minLength":1,"maxLength":200},"max_jobs":{"type":"integer","minimum":1,"maximum":8},"capabilities":{"$ref":"#/components/schemas/Capabilities"}},"required":["worker_id","max_jobs","capabilities"],"additionalProperties":false},"JobDefinition":{"type":"object","properties":{"schema_version":{"const":"1.1"},
"batch_id":{"type":"string","minLength":1,"maxLength":200},"job_id":{"type":"string","minLength":1,"maxLength":200},"company_id":{"type":"string","minLength":1,"maxLength":200},"project_id":{"type":["string","null"]},"company_name":{"type":"string"},"seed_urls":{"type":"array","minItems":1,"items":{"type":"string","format":"uri"}},"scope":{"$ref":"#/components/schemas/Scope"},"policy":{"$ref":"#/components/schemas/Policy"},"participation_status":{"$ref":"#/components/schemas/ParticipationStatus"},"participation_claim_id":{"type":["string","null"]},"override_reason":{"type":["string","null"]},"rerun_reason":{"type":["string",
"null"]}},"required":["schema_version","batch_id","job_id","company_id","project_id","company_name","seed_urls","scope","policy","participation_status","participation_claim_id","override_reason","rerun_reason"],"additionalProperties":false},"Lease":{"type":"object","properties":{"job_id":{"type":"string","minLength":1,"maxLength":200},"run_id":{"type":"string","minLength":1,"maxLength":200},"execution_token":{"type":"string"},"lease_generation":{"type":"integer","minimum":1},"lease_expires_at":{"type":"string","format":"date-time"}},"required":["job_id","run_id","execution_token","lease_generation",
"lease_expires_at"],"additionalProperties":false},"ClaimedJob":{"type":"object","properties":{"job":{"$ref":"#/components/schemas/JobDefinition"},"lease":{"$ref":"#/components/schemas/Lease"},"checkpoint":{"oneOf":[{"$ref":"#/components/schemas/Checkpoint"},{"type":"null"}]},"routes":{"type":"array","items":{"$ref":"#/components/schemas/Route"}},"known_contacts":{"type":"array","items":{"$ref":"#/components/schemas/KnownContact"}}},"required":["job","lease","checkpoint","routes","known_contacts"],"additionalProperties":false},"ClaimResponse":{"type":"object","properties":{"server_time":{"type":"string",
"format":"date-time"},"jobs":{"type":"array","items":{"$ref":"#/components/schemas/ClaimedJob"}}},"required":["server_time","jobs"],"additionalProperties":false},"ActiveLease":{"type":"object","properties":{"job_id":{"type":"string","minLength":1,"maxLength":200},"run_id":{"type":"string","minLength":1,"maxLength":200},"execution_token":{"type":"string"},"lease_generation":{"type":"integer","minimum":1}},"required":["job_id","run_id","execution_token","lease_generation"],"additionalProperties":false},"CommandAck":{"type":"object","properties":{"command_id":{"type":"string","minLength":1,"maxLength":200},
"status":{"type":"string","enum":["applied","already_applied","failed"]},"detail":{"type":"string"}},"required":["command_id","status","detail"],"additionalProperties":false},"Command":{"type":"object","properties":{"command_id":{"type":"string","minLength":1,"maxLength":200},"job_id":{"type":"string","minLength":1,"maxLength":200},"action":{"type":"string","enum":["pause","resume","cancel","continue"]},"state_revision":{"type":"integer","minimum":0},"policy_patch":{"$ref":"#/components/schemas/PolicyPatch"}},"required":["command_id","job_id","action","state_revision","policy_patch"],"additionalProperties":false},
"HeartbeatRequest":{"type":"object","properties":{"worker_id":{"type":"string","minLength":1,"maxLength":200},"worker_version":{"type":"string"},"schema_versions":{"type":"array","items":{"type":"string"}},"capabilities":{"$ref":"#/components/schemas/Capabilities"},"collecting":{"type":"boolean"},"active_jobs":{"type":"array","items":{"$ref":"#/components/schemas/ActiveLease"}},"outbox_pending":{"type":"integer","minimum":0},"free_job_slots":{"type":"integer","minimum":0},"browser_available":{"type":"boolean"},"model_available":{"type":"boolean"},"acknowledgements":{"type":"array","items":{"$ref":"#/components/schemas/CommandAck"}}},
"required":["worker_id","worker_version","schema_versions","capabilities","collecting","active_jobs","outbox_pending","free_job_slots","browser_available","model_available","acknowledgements"],"additionalProperties":false},"LeaseRenewal":{"type":"object","properties":{"job_id":{"type":"string","minLength":1,"maxLength":200},"run_id":{"type":"string","minLength":1,"maxLength":200},"status":{"type":"string","enum":["renewed","expired","mismatch","cancelled"]},"lease_expires_at":{"type":["string","null"],"format":"date-time"}},"required":["job_id","run_id","status","lease_expires_at"],"additionalProperties":false},
"HeartbeatResponse":{"type":"object","properties":{"server_time":{"type":"string","format":"date-time"},"leases":{"type":"array","items":{"$ref":"#/components/schemas/LeaseRenewal"}},"commands":{"type":"array","items":{"$ref":"#/components/schemas/Command"}}},"required":["server_time","leases","commands"],"additionalProperties":false},"EvidenceMetadata":{"type":"object","properties":{"evidence_id":{"type":"string","minLength":1,"maxLength":200},"job_id":{"type":"string","minLength":1,"maxLength":200},"run_id":{"type":"string","minLength":1,"maxLength":200},"company_id":{"type":"string","minLength":1,
"maxLength":200},"source_url":{"type":"string","format":"uri"},"final_url":{"type":"string","format":"uri"},"source_kind":{"type":"string","enum":["http_html","browser_dom","json_response","embedded_data","document","screenshot","ocr","checkpoint"],"description":"Server maps to snapshot.fetcher: http_html/json_response/embedded_data -> collector_http; browser_dom/screenshot/ocr -> collector_browser; document -> collector_document; checkpoint is not a snapshot."},"mime_type":{"type":"string"},"fetched_at":{"type":"string","format":"date-time"},"sha256":{"type":"string","pattern":"^[a-f0-9]{64}$"},
"byte_length":{"type":"integer","minimum":0},"capture_truncated":{"type":"boolean"},"redacted":{"type":"boolean"},"extractor_version":{"type":"string"},"canonical_text_sha256":{"type":["string","null"]},"canonical_text":{"type":["string","null"]},"document_date":{"type":["string","null"]}},"required":["evidence_id","job_id","run_id","company_id","source_url","final_url","source_kind","mime_type","fetched_at","sha256","byte_length","capture_truncated","redacted","extractor_version"],"additionalProperties":false},"EvidenceUpload":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/EvidenceMetadata"},
"file":{"type":"string","format":"binary"}},"required":["metadata","file"],"additionalProperties":false},"EvidenceResponse":{"type":"object","properties":{"evidence_id":{"type":"string","minLength":1,"maxLength":200},"snapshot_id":{"type":["string","null"]},"status":{"type":"string","enum":["accepted","duplicate"]},"sha256":{"type":"string"}},"required":["evidence_id","snapshot_id","status","sha256"],"additionalProperties":false},"Locator":{"oneOf":[{"type":"object","properties":{"kind":{"const":"text_span"},"start":{"type":"integer","minimum":0},"end":{"type":"integer","minimum":0},"text_sha256":{"type":"string"}},
"required":["kind","start","end","text_sha256"],"additionalProperties":false},{"type":"object","properties":{"kind":{"const":"json_pointer"},"value":{"type":"string"}},"required":["kind","value"],"additionalProperties":false},{"type":"object","properties":{"kind":{"const":"document"},"page":{"type":"integer","minimum":0},"table":{"type":["string","null"]},"row":{"type":["integer","null"]},"cell":{"type":["string","null"]}},"required":["kind","page"],"additionalProperties":false},{"type":"object","properties":{"kind":{"const":"bbox"},"page":{"type":"integer","minimum":0},"x":{"type":"number","minimum":0},
"y":{"type":"number","minimum":0},"width":{"type":"number","minimum":0},"height":{"type":"number","minimum":0}},"required":["kind","page","x","y","width","height"],"additionalProperties":false},{"type":"object","properties":{"kind":{"const":"dom"},"value":{"type":"string"},"text_sha256":{"type":"string"}},"required":["kind","value","text_sha256"],"additionalProperties":false}]},"Observation":{"type":"object","properties":{"observation_id":{"type":"string","minLength":1,"maxLength":200},"field":{"type":"string","minLength":1},"raw_value":{},"normalized_value":{},"extraction_status":{"type":"string",
"enum":["confirmed","ambiguous","ocr_unverified","historical","conflict"]},"evidence_id":{"type":"string","minLength":1,"maxLength":200},"locator":{"$ref":"#/components/schemas/Locator"},"quote":{"type":"string"},"source_observed_at":{"type":"string","format":"date-time"},"change_kind":{"type":"string","enum":["new","reconfirmed","changed"]},"supersedes_observation_id":{"type":["string","null"]},"extra_label":{"type":["string","null"]},"binding":{"$ref":"#/components/schemas/Binding"}},"required":["observation_id","field","raw_value","normalized_value","extraction_status","evidence_id","locator",
"quote","binding"],"additionalProperties":false},"FieldAuditItem":{"type":"object","properties":{"source_field":{"type":"string"},"disposition":{"type":"string","enum":["mapped","extra","unresolved","empty_technical"]},"observation_ids":{"type":"array","items":{"type":"string","minLength":1,"maxLength":200}},"raw_value":{},"reason":{"type":"string"}},"required":["source_field","disposition","observation_ids","raw_value","reason"],"additionalProperties":false},"FieldAudit":{"type":"object","properties":{"evidence_id":{"type":"string","minLength":1,"maxLength":200},"items":{"type":"array","items":{"$ref":"#/components/schemas/FieldAuditItem"}},
"dropped_contact_fields":{"const":0}},"required":["evidence_id","items","dropped_contact_fields"],"additionalProperties":false,"description":"Every contact field found in the source must be mapped/extra/unresolved/empty_technical; dropped_contact_fields must be 0. Events without field_audit are rejected with field_audit_missing."},"ContactPayload":{"type":"object","properties":{"entity_id":{"type":"string","minLength":1,"maxLength":200},"entity_type":{"type":"string","enum":["person","department","office","organization_channel","unassigned_channel"]},"relationship":{"type":"string","enum":["employee",
"company","partner","distributor","agent","unknown"]},"observations":{"type":"array","minItems":1,"items":{"$ref":"#/components/schemas/Observation"}},"field_audit":{"$ref":"#/components/schemas/FieldAudit"}},"required":["entity_id","entity_type","observations","field_audit"],"additionalProperties":false},"SourcePayload":{"type":"object","properties":{"source_id":{"type":"string","minLength":1,"maxLength":200},"url":{"type":"string","format":"uri"},"state_key":{"type":"string"},"parent_source_id":{"type":["string","null"]},"status":{"type":"string"},"evidence_ids":{"type":"array","items":{"type":"string",
"minLength":1,"maxLength":200}},"detail":{"type":"string"}},"required":["source_id","url","state_key","parent_source_id","status","evidence_ids","detail"],"additionalProperties":false},"StartedPayload":{"type":"object","properties":{"stage":{"$ref":"#/components/schemas/Stage"},"worker_version":{"type":"string"}},"required":["stage","worker_version"],"additionalProperties":false},"ProgressPayload":{"type":"object","properties":{"stage":{"$ref":"#/components/schemas/Stage"},"counts":{"$ref":"#/components/schemas/Counts"},"coverage":{"$ref":"#/components/schemas/Coverage"},"active_seconds":{"type":"number",
"minimum":0},"transport_state":{"$ref":"#/components/schemas/TransportState"}},"required":["stage","counts","coverage","active_seconds","transport_state"],"additionalProperties":false},"AttentionPayload":{"type":"object","properties":{"gap":{"$ref":"#/components/schemas/Gap"},"counts":{"$ref":"#/components/schemas/Counts"}},"required":["gap","counts"],"additionalProperties":false},"MergePayload":{"type":"object","properties":{"entity_ids":{"type":"array","minItems":2,"items":{"type":"string","minLength":1,"maxLength":200}},"evidence_ids":{"type":"array","items":{"type":"string","minLength":1,"maxLength":200}},
"reason":{"type":"string"}},"required":["entity_ids","evidence_ids","reason"],"additionalProperties":false},"FreshnessCheck":{"type":"object","properties":{"canonical_contact_id":{"type":"string","minLength":1,"maxLength":200},"field":{"type":"string"},"status":{"type":"string","enum":["reconfirmed","changed","not_seen_in_checked_scope","not_checked"]},"scope_description":{"type":"string"},"evidence_ids":{"type":"array","items":{"type":"string","minLength":1,"maxLength":200}},"checked_at":{"type":"string","format":"date-time"},"observation_id":{"type":["string","null"]}},"required":["canonical_contact_id",
"field","status","scope_description","evidence_ids","checked_at","observation_id"],"additionalProperties":false},"ModelUsage":{"type":"object","properties":{"model_id":{"type":"string"},"provider":{"type":"string"},"quantization":{"type":["string","null"]},"context_tokens":{"type":"integer","minimum":0},"input_tokens":{"type":"integer","minimum":0},"output_tokens":{"type":"integer","minimum":0},"cost_eur":{"type":"number","minimum":0},"purpose":{"type":"string","enum":["section_selection","card_parsing","action_planning","vision","document_structure"]},"started_at":{"type":"string","format":"date-time"},
"duration_ms":{"type":"integer","minimum":0},"local":{"type":"boolean"}},"required":["model_id","provider","quantization","context_tokens","input_tokens","output_tokens","cost_eur","purpose","started_at","duration_ms","local"],"additionalProperties":false,"description":"Each call is written to ARGUS model_call (RULES E3). Local inference: local=true, cost_eur=0, tokens still counted."},"FinishedPayload":{"type":"object","properties":{"run_result_status":{"type":"string","enum":["completed","partial","failed","cancelled"]},"completion_reason":{"type":"string","enum":["frontier_exhausted","no_contacts_in_checked_scope",
"budget_reached","unresolved_access","unsupported_source","manual_cancel","technical_failure"]},"scope":{"$ref":"#/components/schemas/Scope"},"counts":{"$ref":"#/components/schemas/Counts"},"coverage":{"$ref":"#/components/schemas/Coverage"},"checkpoint":{"$ref":"#/components/schemas/Checkpoint"},"gaps":{"type":"array","items":{"$ref":"#/components/schemas/Gap"}},"last_content_seq":{"type":"integer","minimum":0},"active_seconds":{"type":"number","minimum":0},"wall_seconds":{"type":"number","minimum":0},"models":{"type":"array","items":{"$ref":"#/components/schemas/ModelUsage"}},"freshness_summary":{"type":"object",
"properties":{"reconfirmed":{"type":"integer","minimum":0},"changed":{"type":"integer","minimum":0},"not_seen_in_checked_scope":{"type":"integer","minimum":0},"not_checked":{"type":"integer","minimum":0}},"required":["reconfirmed","changed","not_seen_in_checked_scope","not_checked"],"additionalProperties":false},"continuation_requested":{"type":"boolean"},"budget":{"$ref":"#/components/schemas/BudgetState"}},"required":["run_result_status","completion_reason","scope","counts","coverage","checkpoint","gaps","last_content_seq","active_seconds","wall_seconds","models","freshness_summary","continuation_requested",
"budget"],"additionalProperties":false},"JobStartedEvent":{"type":"object","properties":{"event_id":{"type":"string","minLength":1,"maxLength":200},"job_id":{"type":"string","minLength":1,"maxLength":200},"run_id":{"type":"string","minLength":1,"maxLength":200},"seq":{"type":"integer","minimum":1},"occurred_at":{"type":"string","format":"date-time"},"type":{"const":"job.started"},"schema_version":{"const":"1.1"},"payload":{"$ref":"#/components/schemas/StartedPayload"}},"required":["event_id","job_id","run_id","seq","occurred_at","type","payload"],"additionalProperties":false},"SourceDiscoveredEvent":{"type":"object",
"properties":{"event_id":{"type":"string","minLength":1,"maxLength":200},"job_id":{"type":"string","minLength":1,"maxLength":200},"run_id":{"type":"string","minLength":1,"maxLength":200},"seq":{"type":"integer","minimum":1},"occurred_at":{"type":"string","format":"date-time"},"type":{"const":"source.discovered"},"schema_version":{"const":"1.1"},"payload":{"$ref":"#/components/schemas/SourcePayload"}},"required":["event_id","job_id","run_id","seq","occurred_at","type","payload"],"additionalProperties":false},"SourceProcessedEvent":{"type":"object","properties":{"event_id":{"type":"string","minLength":1,
"maxLength":200},"job_id":{"type":"string","minLength":1,"maxLength":200},"run_id":{"type":"string","minLength":1,"maxLength":200},"seq":{"type":"integer","minimum":1},"occurred_at":{"type":"string","format":"date-time"},"type":{"const":"source.processed"},"schema_version":{"const":"1.1"},"payload":{"$ref":"#/components/schemas/SourcePayload"}},"required":["event_id","job_id","run_id","seq","occurred_at","type","payload"],"additionalProperties":false},"SourceBlockedEvent":{"type":"object","properties":{"event_id":{"type":"string","minLength":1,"maxLength":200},"job_id":{"type":"string","minLength":1,
"maxLength":200},"run_id":{"type":"string","minLength":1,"maxLength":200},"seq":{"type":"integer","minimum":1},"occurred_at":{"type":"string","format":"date-time"},"type":{"const":"source.blocked"},"schema_version":{"const":"1.1"},"payload":{"$ref":"#/components/schemas/SourcePayload"}},"required":["event_id","job_id","run_id","seq","occurred_at","type","payload"],"additionalProperties":false},"ContactObservedEvent":{"type":"object","properties":{"event_id":{"type":"string","minLength":1,"maxLength":200},"job_id":{"type":"string","minLength":1,"maxLength":200},"run_id":{"type":"string","minLength":1,
"maxLength":200},"seq":{"type":"integer","minimum":1},"occurred_at":{"type":"string","format":"date-time"},"type":{"const":"contact.observed"},"schema_version":{"const":"1.1"},"payload":{"$ref":"#/components/schemas/ContactPayload"}},"required":["event_id","job_id","run_id","seq","occurred_at","type","payload"],"additionalProperties":false},"ContactEnrichedEvent":{"type":"object","properties":{"event_id":{"type":"string","minLength":1,"maxLength":200},"job_id":{"type":"string","minLength":1,"maxLength":200},"run_id":{"type":"string","minLength":1,"maxLength":200},"seq":{"type":"integer","minimum":1},
"occurred_at":{"type":"string","format":"date-time"},"type":{"const":"contact.enriched"},"schema_version":{"const":"1.1"},"payload":{"$ref":"#/components/schemas/ContactPayload"}},"required":["event_id","job_id","run_id","seq","occurred_at","type","payload"],"additionalProperties":false},"ContactMerge_ProposedEvent":{"type":"object","properties":{"event_id":{"type":"string","minLength":1,"maxLength":200},"job_id":{"type":"string","minLength":1,"maxLength":200},"run_id":{"type":"string","minLength":1,"maxLength":200},"seq":{"type":"integer","minimum":1},"occurred_at":{"type":"string","format":"date-time"},
"type":{"const":"contact.merge_proposed"},"schema_version":{"const":"1.1"},"payload":{"$ref":"#/components/schemas/MergePayload"}},"required":["event_id","job_id","run_id","seq","occurred_at","type","payload"],"additionalProperties":false},"JobProgressEvent":{"type":"object","properties":{"event_id":{"type":"string","minLength":1,"maxLength":200},"job_id":{"type":"string","minLength":1,"maxLength":200},"run_id":{"type":"string","minLength":1,"maxLength":200},"seq":{"type":"integer","minimum":1},"occurred_at":{"type":"string","format":"date-time"},"type":{"const":"job.progress"},"schema_version":{"const":"1.1"},
"payload":{"$ref":"#/components/schemas/ProgressPayload"}},"required":["event_id","job_id","run_id","seq","occurred_at","type","payload"],"additionalProperties":false},"JobNeeds_AttentionEvent":{"type":"object","properties":{"event_id":{"type":"string","minLength":1,"maxLength":200},"job_id":{"type":"string","minLength":1,"maxLength":200},"run_id":{"type":"string","minLength":1,"maxLength":200},"seq":{"type":"integer","minimum":1},"occurred_at":{"type":"string","format":"date-time"},"type":{"const":"job.needs_attention"},"schema_version":{"const":"1.1"},"payload":{"$ref":"#/components/schemas/AttentionPayload"}},
"required":["event_id","job_id","run_id","seq","occurred_at","type","payload"],"additionalProperties":false},"JobFinishedEvent":{"type":"object","properties":{"event_id":{"type":"string","minLength":1,"maxLength":200},"job_id":{"type":"string","minLength":1,"maxLength":200},"run_id":{"type":"string","minLength":1,"maxLength":200},"seq":{"type":"integer","minimum":1},"occurred_at":{"type":"string","format":"date-time"},"type":{"const":"job.finished"},"schema_version":{"const":"1.1"},"payload":{"$ref":"#/components/schemas/FinishedPayload"}},"required":["event_id","job_id","run_id","seq","occurred_at",
"type","payload"],"additionalProperties":false},"Event":{"oneOf":[{"$ref":"#/components/schemas/JobStartedEvent"},{"$ref":"#/components/schemas/SourceDiscoveredEvent"},{"$ref":"#/components/schemas/SourceProcessedEvent"},{"$ref":"#/components/schemas/SourceBlockedEvent"},{"$ref":"#/components/schemas/ContactObservedEvent"},{"$ref":"#/components/schemas/ContactEnrichedEvent"},{"$ref":"#/components/schemas/ContactMerge_ProposedEvent"},{"$ref":"#/components/schemas/JobProgressEvent"},{"$ref":"#/components/schemas/JobNeeds_AttentionEvent"},{"$ref":"#/components/schemas/JobFinishedEvent"},{"$ref":"#/components/schemas/ContactFreshnessEvent"},
{"$ref":"#/components/schemas/RouteRecordedEvent"},{"$ref":"#/components/schemas/RouteVerifiedEvent"},{"$ref":"#/components/schemas/ModelCalledEvent"}]},"EventsRequest":{"type":"object","properties":{"schema_version":{"const":"1.1"},"execution_token":{"type":"string"},"events":{"type":"array","minItems":1,"maxItems":50,"items":{"$ref":"#/components/schemas/Event"}}},"required":["schema_version","execution_token","events"],"additionalProperties":false},"EventResult":{"type":"object","properties":{"event_id":{"type":"string","minLength":1,"maxLength":200},"seq":{"type":"integer","minimum":0},"status":{"type":"string",
"enum":["accepted","duplicate","rejected"]},"code":{"type":["string","null"]},"canonical_contact_id":{"type":["string","null"]},"server_revision":{"type":"integer","minimum":0},"state_applied":{"type":"boolean"},"channel_status":{"oneOf":[{"$ref":"#/components/schemas/ChannelStatus"},{"type":"null"}]}},"required":["event_id","seq","status","code","canonical_contact_id","server_revision","state_applied","channel_status"],"additionalProperties":false},"EventsResponse":{"type":"object","properties":{"results":{"type":"array","items":{"$ref":"#/components/schemas/EventResult"}},"last_contiguous_seq":{"type":"integer",
"minimum":0},"job_state":{"$ref":"#/components/schemas/JobState"},"next_run_scheduled":{"type":"boolean"}},"required":["results","last_contiguous_seq","job_state","next_run_scheduled"],"additionalProperties":false},"ReconcileRequest":{"type":"object","properties":{"worker_id":{"type":"string","minLength":1,"maxLength":200},"run_id":{"type":"string","minLength":1,"maxLength":200},"last_acknowledged_seq":{"type":"integer","minimum":0},"pending_event_ids":{"type":"array","items":{"type":"string","minLength":1,"maxLength":200}},"pending_evidence_ids":{"type":"array","items":{"type":"string","minLength":1,
"maxLength":200}}},"required":["worker_id","run_id","last_acknowledged_seq","pending_event_ids","pending_evidence_ids"],"additionalProperties":false},"ReconcileResponse":{"type":"object","properties":{"mode":{"type":"string","enum":["resume","drain_only"]},"lease":{"$ref":"#/components/schemas/Lease"},"accepted_event_ids":{"type":"array","items":{"type":"string","minLength":1,"maxLength":200}},"accepted_evidence_ids":{"type":"array","items":{"type":"string","minLength":1,"maxLength":200}},"missing_evidence_ids":{"type":"array","items":{"type":"string","minLength":1,"maxLength":200}},"last_contiguous_seq":{"type":"integer",
"minimum":0},"job_state":{"$ref":"#/components/schemas/JobState"}},"required":["mode","lease","accepted_event_ids","accepted_evidence_ids","missing_evidence_ids","last_contiguous_seq","job_state"],"additionalProperties":false},"ControlRequest":{"type":"object","properties":{"client_request_id":{"type":"string","minLength":1,"maxLength":200},"action":{"type":"string","enum":["pause","resume","cancel","continue"]},"expected_state_revision":{"type":"integer","minimum":0},"policy_patch":{"$ref":"#/components/schemas/PolicyPatch"}},"required":["client_request_id","action","expected_state_revision"],
"additionalProperties":false},"ControlResponse":{"type":"object","properties":{"job_id":{"type":"string","minLength":1,"maxLength":200},"state":{"$ref":"#/components/schemas/JobState"},"state_revision":{"type":"integer","minimum":0},"command_id":{"type":"string","minLength":1,"maxLength":200}},"required":["job_id","state","state_revision","command_id"],"additionalProperties":false},"JobStatus":{"type":"object","properties":{"job_id":{"type":"string","minLength":1,"maxLength":200},"batch_id":{"type":"string","minLength":1,"maxLength":200},"company_id":{"type":"string","minLength":1,"maxLength":200},
"state":{"$ref":"#/components/schemas/JobState"},"state_revision":{"type":"integer","minimum":0},"current_run_id":{"type":["string","null"]},"stage":{"oneOf":[{"$ref":"#/components/schemas/Stage"},{"type":"null"}]},"counts":{"$ref":"#/components/schemas/Counts"},"coverage":{"$ref":"#/components/schemas/Coverage"},"transport_state":{"$ref":"#/components/schemas/TransportState"},"gaps":{"type":"array","items":{"$ref":"#/components/schemas/Gap"}},"continuation":{"type":"string","enum":["none","scheduled","waiting_attention","waiting_worker","budget_exhausted"]},"runs_completed":{"type":"integer","minimum":0},
"last_result_at":{"type":["string","null"],"format":"date-time"},"budget":{"$ref":"#/components/schemas/BudgetState"},"completion_reason":{"type":["string","null"],"enum":["frontier_exhausted","no_contacts_in_checked_scope","budget_reached","unresolved_access","unsupported_source","manual_cancel","technical_failure",null]},"project_id":{"type":["string","null"]}},"required":["job_id","batch_id","company_id","state","state_revision","current_run_id","stage","counts","coverage","transport_state","gaps","continuation","runs_completed","last_result_at","budget","completion_reason","project_id"],"additionalProperties":false},
"BatchStatus":{"type":"object","properties":{"batch_id":{"type":"string","minLength":1,"maxLength":200},"jobs":{"type":"array","items":{"$ref":"#/components/schemas/JobStatus"}}},"required":["batch_id","jobs"],"additionalProperties":false},"WorkerStatus":{"type":"object","properties":{"worker_id":{"type":"string","minLength":1,"maxLength":200},"connected":{"type":"boolean"},"collecting":{"type":"boolean"},"last_seen_at":{"type":["string","null"],"format":"date-time"},"worker_version":{"type":"string"},"capabilities":{"$ref":"#/components/schemas/Capabilities"},"outbox_pending":{"type":"integer",
"minimum":0},"active_job_ids":{"type":"array","items":{"type":"string","minLength":1,"maxLength":200}},"browser_available":{"type":"boolean"},"model_available":{"type":"boolean"},"queued_jobs":{"type":"integer","minimum":0},"transport_state":{"$ref":"#/components/schemas/TransportState"}},"required":["worker_id","connected","collecting","last_seen_at","worker_version","capabilities","outbox_pending","active_job_ids","browser_available","model_available","queued_jobs","transport_state"],"additionalProperties":false},"Target":{"oneOf":[{"type":"object","properties":{"kind":{"const":"element"},"ref":{"type":"string"}},
"required":["kind","ref"],"additionalProperties":false},{"type":"object","properties":{"kind":{"const":"coordinates"},"x":{"type":"number","minimum":0},"y":{"type":"number","minimum":0},"viewport_width":{"type":"integer","minimum":1},"viewport_height":{"type":"integer","minimum":1}},"required":["kind","x","y","viewport_width","viewport_height"],"additionalProperties":false}]},"BrowserAction":{"oneOf":[{"type":"object","properties":{"action_id":{"type":"string","minLength":1,"maxLength":200},"observation_id":{"type":"string","minLength":1,"maxLength":200},"action":{"const":"navigate"},"args":{"type":"object",
"properties":{"url":{"type":"string","format":"uri"}},"required":["url"],"additionalProperties":false},"expected_change":{"type":"string"}},"required":["action_id","observation_id","action","args","expected_change"],"additionalProperties":false},{"type":"object","properties":{"action_id":{"type":"string","minLength":1,"maxLength":200},"observation_id":{"type":"string","minLength":1,"maxLength":200},"action":{"const":"click"},"args":{"type":"object","properties":{"target":{"$ref":"#/components/schemas/Target"},"click_count":{"type":"integer","enum":[1,2]}},"required":["target","click_count"],"additionalProperties":false},
"expected_change":{"type":"string"}},"required":["action_id","observation_id","action","args","expected_change"],"additionalProperties":false},{"type":"object","properties":{"action_id":{"type":"string","minLength":1,"maxLength":200},"observation_id":{"type":"string","minLength":1,"maxLength":200},"action":{"const":"hover"},"args":{"type":"object","properties":{"target":{"$ref":"#/components/schemas/Target"}},"required":["target"],"additionalProperties":false},"expected_change":{"type":"string"}},"required":["action_id","observation_id","action","args","expected_change"],"additionalProperties":false},
{"type":"object","properties":{"action_id":{"type":"string","minLength":1,"maxLength":200},"observation_id":{"type":"string","minLength":1,"maxLength":200},"action":{"const":"fill"},"args":{"type":"object","properties":{"target":{"$ref":"#/components/schemas/Target"},"text":{"type":"string"}},"required":["target","text"],"additionalProperties":false},"expected_change":{"type":"string"}},"required":["action_id","observation_id","action","args","expected_change"],"additionalProperties":false},{"type":"object","properties":{"action_id":{"type":"string","minLength":1,"maxLength":200},"observation_id":{"type":"string",
"minLength":1,"maxLength":200},"action":{"const":"select"},"args":{"type":"object","properties":{"target":{"$ref":"#/components/schemas/Target"},"value":{"type":"string"}},"required":["target","value"],"additionalProperties":false},"expected_change":{"type":"string"}},"required":["action_id","observation_id","action","args","expected_change"],"additionalProperties":false},{"type":"object","properties":{"action_id":{"type":"string","minLength":1,"maxLength":200},"observation_id":{"type":"string","minLength":1,"maxLength":200},"action":{"const":"scroll"},"args":{"type":"object","properties":{"target":{"oneOf":[{"$ref":"#/components/schemas/Target"},
{"type":"null"}]},"delta_x":{"type":"integer"},"delta_y":{"type":"integer"}},"required":["target","delta_x","delta_y"],"additionalProperties":false},"expected_change":{"type":"string"}},"required":["action_id","observation_id","action","args","expected_change"],"additionalProperties":false},{"type":"object","properties":{"action_id":{"type":"string","minLength":1,"maxLength":200},"observation_id":{"type":"string","minLength":1,"maxLength":200},"action":{"const":"press"},"args":{"type":"object","properties":{"target":{"oneOf":[{"$ref":"#/components/schemas/Target"},{"type":"null"}]},"key":{"type":"string"}},
"required":["target","key"],"additionalProperties":false},"expected_change":{"type":"string"}},"required":["action_id","observation_id","action","args","expected_change"],"additionalProperties":false},{"type":"object","properties":{"action_id":{"type":"string","minLength":1,"maxLength":200},"observation_id":{"type":"string","minLength":1,"maxLength":200},"action":{"const":"wait"},"args":{"type":"object","properties":{"condition":{"type":"string"},"timeout_ms":{"type":"integer","minimum":1,"maximum":20000}},"required":["condition","timeout_ms"],"additionalProperties":false},"expected_change":{"type":"string"}},
"required":["action_id","observation_id","action","args","expected_change"],"additionalProperties":false},{"type":"object","properties":{"action_id":{"type":"string","minLength":1,"maxLength":200},"observation_id":{"type":"string","minLength":1,"maxLength":200},"action":{"const":"extract"},"args":{"type":"object","properties":{"target":{"oneOf":[{"$ref":"#/components/schemas/Target"},{"type":"null"}]}},"required":["target"],"additionalProperties":false},"expected_change":{"type":"string"}},"required":["action_id","observation_id","action","args","expected_change"],"additionalProperties":false},
{"type":"object","properties":{"action_id":{"type":"string","minLength":1,"maxLength":200},"observation_id":{"type":"string","minLength":1,"maxLength":200},"action":{"const":"back"},"args":{"type":"object","properties":{},"required":[],"additionalProperties":false},"expected_change":{"type":"string"}},"required":["action_id","observation_id","action","args","expected_change"],"additionalProperties":false},{"type":"object","properties":{"action_id":{"type":"string","minLength":1,"maxLength":200},"observation_id":{"type":"string","minLength":1,"maxLength":200},"action":{"const":"finish_branch"},"args":{"type":"object",
"properties":{"reason":{"type":"string"}},"required":["reason"],"additionalProperties":false},"expected_change":{"type":"string"}},"required":["action_id","observation_id","action","args","expected_change"],"additionalProperties":false},{"type":"object","properties":{"action_id":{"type":"string","minLength":1,"maxLength":200},"observation_id":{"type":"string","minLength":1,"maxLength":200},"action":{"const":"request_human"},"args":{"type":"object","properties":{"reason":{"type":"string"}},"required":["reason"],"additionalProperties":false},"expected_change":{"type":"string"}},"required":["action_id",
"observation_id","action","args","expected_change"],"additionalProperties":false}]},"ActionResult":{"type":"object","properties":{"action_id":{"type":"string","minLength":1,"maxLength":200},"status":{"type":"string","enum":["success","no_change","invalid","stale","blocked","error"]},"observation_id":{"type":"string","minLength":1,"maxLength":200},"change_summary":{"type":"string"},"error_code":{"type":["string","null"]},"evidence_ids":{"type":"array","items":{"type":"string","minLength":1,"maxLength":200}}},"required":["action_id","status","observation_id","change_summary","error_code","evidence_ids"],
"additionalProperties":false},"HostApproval":{"type":"object","properties":{"host":{"type":"string","minLength":1},"basis":{"type":"string","enum":["seed","redirect_from_seed","linked_from_contact_section","business_id_match","owner_known_url"]},"evidence_id":{"type":["string","null"]}},"required":["host","basis","evidence_id"],"additionalProperties":false,"description":"K7: a host enters scope only with a basis; seed/owner_known_url may have evidence_id null, the other bases require evidence."},"ParticipationStatus":{"type":"string","enum":["confirmed","strong_historical","owner_override"]},"BudgetState":{"type":"object",
"properties":{"campaign_active_seconds":{"type":"number","minimum":0},"campaign_pages":{"type":"integer","minimum":0},"campaign_states":{"type":"integer","minimum":0},"campaign_browser_actions":{"type":"integer","minimum":0},"campaign_cloud_eur":{"type":"number","minimum":0},"runs_used":{"type":"integer","minimum":0}},"required":["campaign_active_seconds","campaign_pages","campaign_states","campaign_browser_actions","campaign_cloud_eur","runs_used"],"additionalProperties":false},"Binding":{"type":"string","enum":["card","table_row","json_object","caption","proximity_only","none"]},"ChannelStatus":{"type":"string",
"enum":["published_direct","published_general","catalog_published","inferred","provider_verified","stale"],"description":"RULES K3. Derived by server from entity_type + binding + extraction_status (TZ SELAIN 3.0 \u00a79.4)."},"RouteStep":{"type":"object","properties":{"action":{"type":"string","enum":["navigate","click","hover","fill","select","scroll","press","wait"]},"target_text":{"type":["string","null"]},"target_role":{"type":["string","null"]},"target_selector":{"type":["string","null"]},"value":{"type":["string","null"]},"expected_change":{"type":"string"}},"required":["action","target_text",
"target_role","target_selector","value","expected_change"],"additionalProperties":false},"Route":{"type":"object","properties":{"route_id":{"type":"string","minLength":1,"maxLength":200},"host":{"type":"string"},"purpose":{"type":"string","enum":["contact_index","person_card","catalog_page","document"]},"start_url":{"type":"string","format":"uri"},"steps":{"type":"array","items":{"$ref":"#/components/schemas/RouteStep"}},"signature":{"type":"object","properties":{"container_text_sha256":{"type":["string","null"]},"record_count":{"type":["integer","null"],"minimum":0}},"required":["container_text_sha256",
"record_count"],"additionalProperties":false},"status":{"type":"string","enum":["active","failing","retired"]},"success_count":{"type":"integer","minimum":0},"failure_count":{"type":"integer","minimum":0},"last_verified_at":{"type":["string","null"],"format":"date-time"}},"required":["route_id","host","purpose","start_url","steps","signature","status","success_count","failure_count","last_verified_at"],"additionalProperties":false,"description":"Successful navigation path that produced records. Speeds up re-runs; never raises coverage."},"RouteRecordedPayload":{"type":"object","properties":{"route":{"$ref":"#/components/schemas/Route"},
"evidence_ids":{"type":"array","items":{"type":"string","minLength":1,"maxLength":200}}},"required":["route","evidence_ids"],"additionalProperties":false},"RouteVerifiedPayload":{"type":"object","properties":{"route_id":{"type":"string","minLength":1,"maxLength":200},"result":{"type":"string","enum":["verified","changed","failed"]},"record_count":{"type":["integer","null"],"minimum":0},"evidence_ids":{"type":"array","items":{"type":"string","minLength":1,"maxLength":200}},"detail":{"type":"string"}},"required":["route_id","result","record_count","evidence_ids","detail"],"additionalProperties":false},
"FreshnessPayload":{"type":"object","properties":{"checks":{"type":"array","minItems":1,"items":{"$ref":"#/components/schemas/FreshnessCheck"}}},"required":["checks"],"additionalProperties":false},"KnownContact":{"type":"object","properties":{"canonical_contact_id":{"type":"string","minLength":1,"maxLength":200},"entity_type":{"type":"string","enum":["person","department","office","organization_channel"]},"fields":{"type":"object","additionalProperties":{}},"last_seen_at":{"type":["string","null"],"format":"date-time"},"channel_status":{"$ref":"#/components/schemas/ChannelStatus"}},"required":["canonical_contact_id",
"entity_type","fields","last_seen_at","channel_status"],"additionalProperties":false,"description":"Previously accepted contacts of the company; the worker must report contact.freshness for each at run end."},"ModelCalledPayload":{"type":"object","properties":{"usage":{"$ref":"#/components/schemas/ModelUsage"},"source_ids":{"type":"array","items":{"type":"string","minLength":1,"maxLength":200}}},"required":["usage","source_ids"],"additionalProperties":false},"ContactFreshnessEvent":{"type":"object","properties":{"event_id":{"type":"string","minLength":1,"maxLength":200},"job_id":{"type":"string",
"minLength":1,"maxLength":200},"run_id":{"type":"string","minLength":1,"maxLength":200},"seq":{"type":"integer","minimum":1},"occurred_at":{"type":"string","format":"date-time"},"type":{"const":"contact.freshness"},"schema_version":{"const":"1.1"},"payload":{"$ref":"#/components/schemas/FreshnessPayload"}},"required":["event_id","job_id","run_id","seq","occurred_at","type","payload"],"additionalProperties":false},"RouteRecordedEvent":{"type":"object","properties":{"event_id":{"type":"string","minLength":1,"maxLength":200},"job_id":{"type":"string","minLength":1,"maxLength":200},"run_id":{"type":"string",
"minLength":1,"maxLength":200},"seq":{"type":"integer","minimum":1},"occurred_at":{"type":"string","format":"date-time"},"type":{"const":"route.recorded"},"schema_version":{"const":"1.1"},"payload":{"$ref":"#/components/schemas/RouteRecordedPayload"}},"required":["event_id","job_id","run_id","seq","occurred_at","type","payload"],"additionalProperties":false},"RouteVerifiedEvent":{"type":"object","properties":{"event_id":{"type":"string","minLength":1,"maxLength":200},"job_id":{"type":"string","minLength":1,"maxLength":200},"run_id":{"type":"string","minLength":1,"maxLength":200},"seq":{"type":"integer",
"minimum":1},"occurred_at":{"type":"string","format":"date-time"},"type":{"const":"route.verified"},"schema_version":{"const":"1.1"},"payload":{"$ref":"#/components/schemas/RouteVerifiedPayload"}},"required":["event_id","job_id","run_id","seq","occurred_at","type","payload"],"additionalProperties":false},"ModelCalledEvent":{"type":"object","properties":{"event_id":{"type":"string","minLength":1,"maxLength":200},"job_id":{"type":"string","minLength":1,"maxLength":200},"run_id":{"type":"string","minLength":1,"maxLength":200},"seq":{"type":"integer","minimum":1},"occurred_at":{"type":"string","format":"date-time"},
"type":{"const":"model.called"},"schema_version":{"const":"1.1"},"payload":{"$ref":"#/components/schemas/ModelCalledPayload"}},"required":["event_id","job_id","run_id","seq","occurred_at","type","payload"],"additionalProperties":false}}}}
